<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="https://github.com/bbuehrig/hanson" />
    <title>{{ .title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="css/spectre.min.css" />
    <link rel="stylesheet" href="css/app.css" />

  </head>
  <body>

<!--
<div class="container">
  <!-- Navigation --><!--
  <div class="columns head">
    <div class="column col-xs-12">
      NAVIGATION
    </div>
  </div>

  <div class="columns">
    <div class="column col-xs-6">col-xs-6</div>
    <div class="column col-xs-3">col-xs-3</div>
    <div class="column col-xs-3">col-xs-3</div>
  </div>
</div>
-->
